.about-me-container {
  padding: 40px;
  background-color: #f0f2f5;
  height: 60vh;
}

.about-me-content {
  align-items: center;
  padding: 3%;
}

.about-me-image-col {
  text-align: center;
}

.about-me-image {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me-title {
  margin-bottom: 24px;
  color: #333;
}

.about-me-paragraph {
  font-size: 16px;
  line-height: 2;
  color: #555;
  text-align: justify;
}
