@media screen and (max-width: 460px) {
    .body {
        max-width: 100%;
    }

    .progress-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-left: 0%;
    }

    .ant-steps {
        padding-left: 11%;
    }

    .steps-content {
        justify-content: center !important;
        position: relative !important;
        min-width: 100% !important;
    }

    .custom-progress-bar .ant-steps .ant-steps-item {
        max-width: 250px !important;
    }

    span {
        font-size: 0.7rem;
    }

    .polygon-container {
        width: 380px !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    h1 {
        font-size: 1.3rem !important;
    }

    .paragraph {
        width: 400px;
    }

    .padding3 {
        padding: 6%;
    }

    .jobs-image-col {
        padding: 0%;
    }
}

@media screen and (max-width: 375px) {
    .body {
        max-width: 100%;
    }

    .progress-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-left: 0%;
    }

    .ant-steps {
        padding-left: 11%;
    }

    .steps-content {
        justify-content: center !important;
        position: relative !important;
        min-width: 100% !important;
    }

    .custom-progress-bar .ant-steps .ant-steps-item {
        max-width: 250px !important;
    }

    span,
    nav {
        font-size: 0.7rem;
    }

    .polygon-container {
        width: 300px !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    h1 {
        font-size: 1.1rem !important;
        padding-top: 3rem !important;
    }

    .paragraph {
        width: 300px;
    }

    .breadCrumb {
        padding: 0% !important;
        padding-top: 1rem !important;
    }

    .padding3 {
        padding: 6%;
    }

    .jobs-image-col {
        padding: 0%;
    }
}

@media screen and (max-width: 600px) {
    
    .styled-company-image {
        display: none !important;
    }
}

/* general control */
@media screen and (max-width: 319px) {
    .main-content {
        display: none;
    }

    .warning-message {
        display: block;
        text-align: center;
        padding: 20px;
        background-color: #ffcc00;
        color: #FFF2D7;
        font-size: 18px;
    }
}

@media screen and (min-width: 320px) and (min-height: 400px) {
    .main-content {
        display: block;
    }

    .warning-message {
        display: none;
    }
}

/* height control */
@media screen and (max-height: 769px) {
    .coffee {
        height: 12rem !important;
    }

    .custom-progress-bar {
        padding-top: 2%;
    }

    .polygon-container {
        height: 15rem !important;
    }

    h1 {
        padding-top: 1rem !important;
    }

    .projects-div {
        height: 100% !important;
        min-height: 100% !important;
    }

}

@media screen and (min-height: 770px) and (max-height: 896px) {
    .coffee {
        height: 12rem !important;
    }

    .custom-progress-bar {
        padding-top: 2%;
    }

    .polygon-container {
        height: 20rem !important;
    }

    h1 {
        padding-top: 1rem !important;
    }

    .projects-div {
        height: 100% !important;
        min-height: 100% !important;
    }
}