
.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.title {
  color: #EAD8C0 !important;
  font-family: 'Georgia', serif;
  font-weight: bold;
  text-align: center;
  font-size: 5.5rem  !important;
}

.author{
  color: #FEFAF6 !important;
}

.paragraph, .breadCrumb, .ant-breadcrumb li:last-child, .jobs-timeline-item a, .ant-timeline-item-label{
  font-size: 1rem;
  line-height: 1.2;
  margin: 0 auto;
  text-align: center;
}

.breadCrumb {
  padding: 1rem;
}

.welcome {
  padding: 3%;
}