
.progress-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;  
  padding-left: 5%;

}
.custom-progress-bar {
  padding-top: 30px;
}

.custom-progress-bar .ant-steps-item-title {
  width: 250px;
  margin-left: -70px !important;
  color: #D1BB9E ;
}

.custom-progress-bar .steps-content {
  font-size: 1rem !important;
  color: #F8F4E1 ;
}

.custom-progress-bar .ant-steps-item-title::after, .ant-steps-item-tail::after {
  background-color: #D1BB9E !important;
}

.custom-progress-bar .ant-steps .ant-steps-item  {
  min-width: 200px !important;
}

@media screen and (max-width: 768px) {
  .custom-progress-bar .ant-steps-item-title {
    margin-left: 0px !important;
  }
}

.custom-progress-bar .ant-steps-item-active .ant-steps-item-title,
.custom-progress-bar .ant-steps-item-process .ant-steps-item-title,
.custom-progress-bar .ant-steps-item-active .ant-steps-icon,
.custom-progress-bar .ant-steps-item-process .ant-steps-icon {
  color: #D1BB9E !important;
}

.custom-progress-bar .ant-steps-item-finish .ant-steps-item-title,
.custom-progress-bar .ant-steps-item-finish .ant-steps-icon {
  color: #B5C18E !important;
}



.custom-progress-bar .ant-steps-item-wait .ant-steps-item-title,
.custom-progress-bar .ant-steps-item-wait .ant-steps-icon {
  color: #6F4E37 ;
}
